.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits {
  display: flex;
}

.benefits__box-icon {
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.benefits .benefits__item {
  width: 270px;
}

.benefits .benefits__item + .benefits__item {
  margin-left: 30px;
}
.benefits .benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits .benefits__text {
  color: var(--header-contacts-text-color);
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
