.work__section {
  padding-bottom: 94px;
}
.work__section .work__main {
  display: flex;
  position: relative;
}
.work__main .work-main__item + .work-main__item {
  margin-left: 30px;
}

.work-main__item {
  position: relative;
}
.work__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 224px;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work__text {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
