:root {
  --primary-text-color: #212121;
  --header-contacts-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --bg-color-hero: #2f303a;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.backdrop.is-hidden {
  pointer-events: auto;
  visibility: hidden;
  opacity: 250ms;
}
.backdrop {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, 600ms;
  transition-duration: 250ms;
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
